/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Sep, 2020, 6:33:36 PM
    Author     : Bhavesh
*/
#box{
  padding-left: 20%;
  border: 2px solid #1f1c18;
}

#submit{
  padding-bottom: 20px;
}
.center{
	text-align: center;

}
h1{
	  padding: 5px;
  text-align: center; 
  color: white;
  font-size: 70px;
}

.container{
	padding-left: 33%;
	padding-right: 33%;

}

body{
background: #8E0E00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
}

table{
	align-items: center;
	padding: 20px;

}

.in{
  outline: none;
  padding: 5px;
  border-radius: 3px;
  border: 2px solid black;
  opacity: 60%;
}

.clickme {
    background-color: #EEEEEE;
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
}
.success {
    background-color:#00EB89;
    color: #FFFFFF;
}

.success:hover {
    background-color:#00D77E;
    color: #FFFFFF;
}
.danger {
    background-color:#FF0040;
    color: #FFFFFF;
}

.danger:hover {
    background-color:#EB003B;
    color: #FFFFFF;
}

.info {
    background-color:#00D4FF;
    color: #FFFFFF;
}

.info:hover {
    background-color:#00C4EB;
    color: #FFFFFF;
}
.default {
    background-color:#D1D6DC;
    color: #000000;
}

.default:hover {
    background-color:#DCE0E5;
    color: #555555;
}

